<ng-container *ngIf="params$ | async as param">
  <div class="container-details">
    <div class="pokemon-details-name" data-name="フシギダネ">Bulbasaur</div>
    <div class="pokemon-details-wrapper">
      <img class="pokemon-img-details" [src]="getPokemonImage(param['id'])" />
      <div class="pokemon-details-data flex column flex-1">
        <span class="pokemon-details-title">Estatísticas</span>

        <div class="pokemon-stats">
          <div class="pokemon-stats-item">
            <span class="stat-name">Hp</span>
            <span class="stat-value">45</span>
          </div>
        </div>
      </div>
      <div class="p-3">
        <a [routerLink]="['']" class="btn">voltar</a>
      </div>
    </div>
  </div>
</ng-container>
