/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
@import "./assets/scss/variables";

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: $bg-color;
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.w-full {
  width: 100%;
}

.g-1 {
  gap: 0.25rem;
}

img {
  user-select: none;
  touch-action: none;
  pointer-events: none;
}

.p-3 {
  padding: $padding-lg;
}

.btn {
  display: block;
  width: 100%;
  background-color: $secondary;
  padding: $padding-md;
  text-align: center;
  border-radius: $radius;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}
