@import "../../../../../assets/scss/variables";

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(1, auto-fill);
  grid-auto-rows: 39.25px;
  gap: 20px;
  height: calc(100dvh - ($padding-lg * 8.2));
  overflow-y: auto;
  overflow-x: hidden;
  transition: overflow 0.3s ease-in-out;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0.4em;
  }
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb {
    overflow: visible;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    --bg: $secondary-rgb;
    background: $secondary-rgb;
  }
}

.grid-idem {
  grid-row: span 3;
}

.message-search {
  grid-column: span 1;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
  gap: 0.5rem;
  .loading {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
  }
}

.no-results {
  grid-column: span 1;
  grid-row: 3;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 40px;
}

@import "../../../../../assets/scss/mixins";

@include breakpoint(md) {
  .pokemon-list {
    grid-template-columns: repeat(2, 290px);
  }

  .message-search {
    grid-column: span 2;
  }

  .no-results {
    grid-column: span 2;
    grid-row: 6;
  }
}
