@import "../../../../../assets/scss/variables";

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(2, 290px);
  grid-auto-rows: 157px;
  gap: 20px;
  height: calc(100dvh - ($padding-lg * 8.2));
  overflow: hidden;
  overflow-y: hidden;
  transition: overflow 0.3s ease-in-out;

  &:hover {
    overflow: auto;
  }

  &::-webkit-scrollbar {
    width: 0.4em;
  }
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb {
    overflow: visible;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    --bg: $secondary-rgb;
    background: $secondary-rgb;
  }
}
